<!DOCTYPE html>
<html lang="en" ng-app="chatie">
	<head>
		<meta charset="utf-8">
	  <title>Chatie</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Juan Santa Cruz">

	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= csrf_meta_tags %>
	</head>

	<body>

		<!-- MAIN CONTENT -->
	  <div class="container">
	    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
	    <div ui-view></div>
	  </div>

	  <%= javascript_include_tag 'application' %>
	</body>

</html>